
   
        <form [formGroup]="roomForm">
            <div class="mt-6 grid grid-cols-2 gap-4">
        <div>
            <label for="firstName" class="block text-sm font-medium leading-6 text-gray-900"> Room Name</label>
            <div class="mt-2">
                <input id="firstName" name="firstName" type="text"  required
                    class="block px-2 w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                  formControlName="name" >
            </div>
        </div>
        <div>
            <label for="lastName" class="block text-sm font-medium leading-6 text-gray-900">Capacity</label>
            <div class="mt-2">
                <input id="lastName" name="lastName" type="text" autocomplete="lastName" required
                    class="block px-2 w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    formControlName="capacity"   >
            </div>
        </div>
      
        <div>
            <label for="type" class="block text-sm font-medium leading-6 text-gray-900">Status</label>
            <div class="mt-2">
                <select id="type" name="type" autocomplete="type" required
                    class="block px-2 w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    formControlName="status"  >
                    <option value="available">Available</option>
                    <option value="Not available">Not available</option>
                </select>
            </div>
        </div>
        <div>
            <label for="verified" class="block text-sm font-medium leading-6 text-gray-900">departement</label>
            <div class="mt-2">
                <select id="verified" name="verified" autocomplete="verified" required
                    class="block px-2 w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
                    formControlName="department"  >
                    <option value="software">Software</option>
                    <option value="reseau">Reseau</option>
                </select>
            </div>
        </div>
        <div class="flex items-center justify-between col-span-2 mt-3">
            <button (click)="mode ? updateRoom() : createNewRomm()" 
                class="flex w-full justify-center 
                rounded-md bg-primary px-3 py-1.5 
                text-sm font-semibold leading-6
                text-white shadow-sm hover:bg-primary focus-visible:outline 
                focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">
                {{mode ? 'update room': 'Add room'}}
            </button>
            <button (click)="clearForm()" 
            class="flex w-full justify-center">
           Annuler
        </button>
        </div>
    </div>
</form>
<div class="card">
    <p-table [columns]="displayColumns" [value]="rooms" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
               
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.header!= 'Actions'">
                    {{ rowData[col.field] }}
                </ng-container>
                <ng-container *ngIf="col.header=== 'Actions'">
                    <button (click)="selectRoom(rowData, 'edit')">
                    <i class="pi pi-pen-to-square" style="color: #18a94e;" ></i>
                </button>
                    <button (click)="selectRoom(rowData, 'delete')" [swal]="deleteRecord" >
                    <i class="pi  pi-trash ml-3" style="color: #e64a4a;"></i>
                </button >
                    <button (click)="selectRoom(rowData,'details')">
                    <i class="pi  pi-list-check ml-3" style="color: #706464;"></i>
            </button >
                </ng-container>
                </td>
       
            </tr>
        </ng-template>
    </p-table>
</div>
{{msg}}
<swal
  #deleteRecord
  title="Delete Room?"
  [text]="msg"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteRoom(room.id)"
>
</swal>
<!-- <p-dialog header="Delete Room" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Are you sure to delete this room!</span>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">{{room.name}}</label>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
        <p-button label="Save" (onClick)="visible = false; deleteRoom(room.id)" />
    </div>
</p-dialog> -->
